<div class="container">
  <h3>Peer ID ของคุณคือ {{ peerId }}</h3>
  <ng-container *ngIf="!isConnected">
    <input
      class="peer-id"
      type="text"
      [(ngModel)]="anotherPeerId"
      [value]="anotherPeerId"
      placeholder="Peer ID ที่ต้องการเชื่อมต่อ"
    />
    <button class="connect-button" (click)="onCreateServer()">เชื่อมต่อ</button>
  </ng-container>

  <ng-container *ngIf="isConnected">
    <h4>เชื่อมต่อกับ {{ anotherPeerId }} สำเร็จ</h4>
  </ng-container>

  <video
    #localVideo
    id="local-video"
    autoplay
    playsinline
    [muted]="true"
  ></video>
  <video #remoteVideo id="remote-video" autoplay playsinline></video>

  <div *ngIf="isCalling" class="incoming-call">
    <div>มีสายเข้า</div>
    <button (click)="onAcceptCall()">รับสาย</button>
  </div>

  <div class="actions" *ngIf="isConnected && !isCalling">
    <button class="call-button" (click)="onCall()" *ngIf="isShowCall">
      โทร
    </button>
    <button class="hangup-button" (click)="onHangUp()" *ngIf="isShowCancel">
      วางสาย
    </button>
  </div>
</div>
